table,th,td{
padding: 5px 5px 5px 50px;
/* padding: 5px; */
color: black;
}
h3{
    color: darkblue;
}
.headingDiv{
    background-color: lightgreen;
    color: white;
    height: 50px;
}
.mainDiv{
    display: inline-flex;
}
.taskClass{
    width: 20%;
    float: left;
}
div{
    width: 100%;
}